<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <article class="panel panel-default">
        <header class="panel-heading clearfix">
          <h4 class="pull-left">Purchase Orders</h4>
          <%= link_to "Create a Draft PO", "/proto/new", class:"btn btn-primary pull-right" %>
        </header>
        <section class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">Draft</span>
              Mystree_<%= Time.now.strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">New</span>
              Mystree_<%= (Time.now - 1.days).strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">Approved</span>
              Mystree_<%= (Time.now - 2.days).strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">Approved</span>
              Mystree_<%= (Time.now - 3.days).strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">Invoiced</span>
              Mystree_<%= (Time.now - 4.days).strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">Paid</span>
              Mystree_<%= (Time.now - 5.days).strftime("%m-%d-%Y") %>
            </li>
            <li class="list-group-item">
              <span class="badge">Closed</span>
              Mystree_<%= (Time.now - 6.days).strftime("%m-%d-%Y") %>
            </li>
          </ul>
        </section>
      </article>
    </div>
  </div>
</div>
